/* Navigation Bar */
.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    color: black;
    border-radius: 4px;
    box-shadow: 0 2px 2px 2px rgba(44, 44, 44, 0.23);
}

/* Navigation Menu */
.container {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Navigation Items */
.container>div {
    font-size: medium;
    padding: 0 20px;
    /* Adjust horizontal padding to your preference */
}

/* Navigation Links */
.link-style {
    display: block;
    padding: 10px 20px;
    /* Adjust padding to your preference */
    background-color: #007bff;
    /* Button background color */
    color: #fff;
    /* Button text color */
    text-decoration: none;
    /* Remove underlines */
    border: none;
    /* Remove button border */
    border-radius: 5px;
    /* Add rounded corners */
    cursor: pointer;
    /* Show pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    /* Add a smooth transition */
}

/* Navigation Link Hover Effect */
.link-style:hover {
    background-color: #0056b3;
    /* Button background color on hover */
    transform: scale(1.05);
    /* Scale the button on hover (you can adjust the scale factor) */
}